<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>WebAL / <%= title %></h1>
<div>
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user) { %>
        <form action="/message/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>

        <div id="posts-list-container">
            <ul>
                <% posts.forEach(post => { %>
                    <%- include('../partials/_post', { post: post }) %>
                <% }) %>
            </ul>
        </div>
    </section>

    <section id="user-friends">
        <h4>Friends</h4>
        <% for(u of all_users){ %>
            <p>
                <a href="/message/user/profile/<%= u.id %>"><%= u.username %></a>
            </p>
        <% } %>
    </section>
</div>

<!-- importing this script for creating the comments -->
<script src="/assets/js/home_post_comments.js" ></script>
<script src="/assets/js/home_posts.js"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="/assets/js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- jQuery library -->
    <script src="/assets/js/home_posts.js"></script>
</body>
</html>
